<section class="receivables">
  <h1 mat-dialog-title>Receivables</h1>
  <mat-dialog-content>
    <mat-tab-group animationDuration="0ms">
      <mat-tab label="Single">
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input
            matInput
            formControlName="username"
            placeholder="Enter your username"
          />
          <mat-error
            *ngIf="
              receivableForm.get('username')?.invalid &&
              (receivableForm.get('username')?.dirty ||
                receivableForm.get('username')?.touched)
            "
          >
            Please enter a valid username.
          </mat-error>
        </mat-form-field>
      </mat-tab>
      <mat-tab label="Batch">Content 2</mat-tab>
    </mat-tab-group>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
  </mat-dialog-actions>
</section>
